.main-container {
    -fx-padding: 20px;
    -fx-background-color: #f4f4f4;
}

.button {
    -fx-background-color: #555;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 15px;
    -fx-pref-width: 180px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #777;
    -fx-text-fill: white;
}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.table-view {
    -fx-background-color: white;
}

.pie-chart {
    -fx-padding: 10px;
}
